@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  height: 100vh;
  background: darksalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: brown;
  margin-bottom: 1rem;
}

.square {
  background: beige;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 4rem;
}

.square.clicked {
  background: brown;
  cursor: not-allowed;
}



.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  cursor: pointer;
}

.btn {
  background: beige;
  color: brown;
  border: 2px solid brown;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
  max-height: 4rem;
}

.btn:hover {
  background: brown;
  color: beige;
  border: beige;
}

.win-text {
  color: maroon;
  font-size: 1rem;
}

.win-history {
  color: maroon;
  font-size: 1rem;
  margin: 1rem 0;
}